body{
    font-family: 'Abril Fatface', cursive;
    font-family: 'Aclonica', sans-serif;
    font-family: 'Bitter', serif;
    font-family: 'Fredericka the Great', cursive;
    font-family: 'IM Fell English SC', serif;
    font-family: 'Skranji', cursive;
    font-family: 'Titan One', cursive;
}
h1{font-size: 30px;
    font-weight: 100;
}
h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
p{
    font-size: 5px ;
}
}
.orang{
    color: rgb(253, 109, 7);
}